<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <% if @refresh %>
      <meta http-equiv="refresh" content="30" >
    <% end %>
    <title>Is Pegasus API UP ?</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" type="text/css" />
  </head>

  <body class="<%= @status.css_class %>">

    <div id="content">
      <%= yield %>
    </div>

  </body>

  </html>
