<div id="status">

  <h1><%= @status.description %></h1>

  <section class="check">
    <label>Search:</label>
    <span><%= @status.search %></span>
  </section>

  <section class="check">
    <label>Booking:</label>
    <span><%= @status.booking %></span>
  </section>

</div>
