<div id="status">

  <h2>Is Pegasus API UP?</h2>

  <h1 class="<%= @status.icon %>"></h1>

  <br/>
  <br/>

  <section class="check">
    <label>Search:</label>
    <span><%= @status.search %></span>
  </section>

  <section class="check">
    <label>Booking:</label>
    <span><%= @status.booking %></span>
  </section>

</div>
